#container {
    position: absolute;
    width: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
}

#coming_soon{
    text-align: center;
    margin-left: 18px;
}

@keyframes cursive{
    100%{
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes cursive{
    100%{
        stroke-dashoffset: 0;
    }
}

@-moz-keyframes cursive{
    100%{
        stroke-dashoffset: 0;
    }
}

@-o-keyframes cursive{
    100%{
        stroke-dashoffset: 0;
    }
}

#c_x5F_path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: cursive 1.2s linear forwards; 
    -webkit-animation: cursive 1.2s linear forwards;
    -moz-animation: cursive 1.2s linear forwards;
    -o-animation: cursive 1.2s linear forwards;
}

#p_x5F_path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: cursive 1.2s linear forwards 0.9s; 
    -webkit-animation: cursive 1.2s linear forwards 0.9s;
    -moz-animation: cursive 1.2s linear forwards 0.9s;
    -o-animation: cursive 1.2s linear forwards 0.9s;
}


@keyframes appear{
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes appear{
    100%{
        opacity: 1;
    }
}

@-moz-keyframes appear{
    100%{
        opacity: 1;
    }
}

@-o-keyframes appear{
    100%{
        opacity: 1;
    }
}

#left_x5F_brack_1_, #right_x5F_brack{
    opacity: 0;
    animation: appear 1.5s linear forwards 2s;
    -webkit-animation: appear 1.5s linear forwards 2s;
    -moz-animation: appear 1.5s linear forwards 2s;
    -o-animation: appear 1.5s linear forwards 2s;
}